.ide {
  display: flex;
  flex-direction: row;
  height: 100%;

  .explorer-pane {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    flex: 0 0 340px;

    input[type="text"] {
      display: inline;
      height: 1.5em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 1;
    }
  }

  .editors-pane {
    flex: 1;
    position: relative;
    min-height: 100vh;

    .editors-tabs {
      display: flex;
      flex-direction: row;
      margin-left: 39px;

      .editor-tab {
        padding: 8px 1rem 4px;

        i {
          display: none;
          margin-left: 1rem;
        }

        &.editor-tab--active {
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          background: white;

          i {
            display: inline-block;
          }
        }
      }
    }
  }

  .editor-pane {
    flex: 1;
    position: relative;
    min-height: 100vh;
    border-left: 1px solid #ccc;

    .welcome {
      position: relative;
      text-align: center;
      top: 35%;
      @media screen and (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }
}

.site {
  margin: 10px;
  border: 1px solid #444;
  float: left;
  width: 200px;

  &.dragging {
    border: 1px dashed #f00;
  }

  .title,
  .title a {
    text-align: center;
    font-size: 90%;
    text-decoration: none;
    color: #666;
    height: 20px;
    line-height: 20px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .icon {
    color: #666;
    text-align: center;
    height: 200px;
    background-color: #ccc;
    @media screen and (prefers-color-scheme: dark) {
      background-color: #333;
    }

    i {
      margin-top: 40px;
    }
  }

  .icon.uploading {
    display: none;
  }
}

.site.uploading {
  .icon.upload {
    display: none;
  }
  .icon.uploading {
    display: block;
  }
}

.site:hover {
  border: 1px solid #888;
}

.site.dragover {
  border: 1px solid #800;
}
