.ide {
  display: flex;
  flex-direction: row;
  height: 100%;

  .explorer-pane {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    flex: 0 0 340px;

    input[type="text"] {
      display: inline;
      height: 1.5em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 1;
    }
  }

  .editor-pane {
    flex: 1;
    position: relative;
    min-height: 100vh;
    border-left: 1px solid #ccc;

    .welcome {
      position: relative;
      text-align: center;
      top: 35%;
    }
  }
}

.site {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;

  .title,
  .title a {
    text-align: center;
    font-size: 90%;
    text-decoration: none;
    color: #666;
  }
}

.site:hover {
  border: 1px solid #888;
}

.site.dragover {
  border: 1px solid #800;
}
