.ide {
  display: flex;
  flex-direction: row;
  height: 100%;

  .explorer-pane {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    flex: 0 0 340px;

    input[type="text"] {
      display: inline;
      height: 1.5em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 1;
    }
  }

  .editor-pane {
    flex: 1;
    position: relative;
    min-height: 100vh;
  }
}
