@import "file-icons";

.editors-pane {
  flex: 1;
  position: relative;
  min-height: 100vh;

  .editors-tabs {
    display: flex;
    flex-direction: row;
    margin-left: 38px;

    .editor-tab {
      cursor: pointer;
      padding: 8px 0.5rem 4px 1rem;
      border-radius: 4px 4px 0 0;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;

      i {
        display: inline;
        font-size: 70%;
        margin-left: 0.4rem;
        color: black;
      }
      i:before {
        content: "\f00d";
      }

      &:first-child {
        border-left: 1px solid #ddd;
      }

      &.editor-tab--active {
        background: white;

        i {
        }
      }

      &.editor-tab--dirty {
        i {
          color: #03a9f4;
          font-size: 60%;
        }
        i:before {
          content: "\f111";
        }
      }

      &:hover {
        i {
          color: black;
          font-size: 70%;
        }
        i:before {
          content: "\f00d";
        }
      }

      .name {
        background-repeat: no-repeat;
        background-position: 0px 50%;
        padding-left: 22px;
        line-height: 18px;
        height: 18px;
      }

      @include file-icons;
    }
  }
  .editors-contents {
    .editor-content {
      display: none;

      &.editor-content--active {
        display: block;
      }
    }
  }
}
