.editors-pane {
  flex: 1;
  position: relative;
  min-height: 100vh;

  .editors-tabs {
    display: flex;
    flex-direction: row;
    margin-left: 38px;

    .editor-tab {
      cursor: pointer;
      padding: 8px 0.5rem 4px;

      i {
        visibility: hidden;
        font-size: smaller;
        margin-left: 0.4rem;
      }

      &.editor-tab--active {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
        background: white;

        i {
          visibility: visible;
        }
      }

      &:hover {
        i {
          visibility: visible;
        }
      }
    }
  }
  .editors-contents {
    .editor-content {
      display: none;

      &.editor-content--active {
        display: block;
      }
    }
  }
}
