.tree-view {
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  color: #000;
  padding: 5px;

  ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
  }

  > ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    padding-left: 0;
  }

  .list-item {
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .name {
    background-repeat: no-repeat;
    background-position: 0px 50%;
    padding-left: 18px;
    line-height: 25px;
    height: 25px;
  }

  a.list-item {
    color: #000;
    display: block;
    padding-left: 4px;
    position: relative;
  }

  a.list-item:hover {
    background-color: #ddd;
  }

  svg.s16 {
    width: 16px;
    height: 16px;
  }
}

.tree-view .file > span {
  background-image: url(../../images/file.svg);
  background-size: 16px 16px;
  padding-left: 0px;
}

.tree-view .list-item > .tools {
  display: none;
  position: absolute;
  right: 5px;

    i {
      padding: 5px;
    }
}

.tree-view .list-item:hover > .tools {
  display: inline;

  a {
    display: inline;
  }
}

.tree-view .entry {
  font-weight: normal;
}

.tree-view .entry.selected {
  font-weight: bold;
}

.tree-view .directory.closed > .list-item .name {
  background-image: url(../../images/folder.svg);
  background-size: 16px 16px;
}

.tree-view .directory.open > .list-item .name {
  background-image: url(../../images/folder-open.svg);
  background-size: 16px 16px;
}

// .tree-view .entry.selected:before {
//   content: '';
//   position: absolute;
//   left: 0;
//   right: 0;
//   height: 25px;
//   background-color: #f5f5f5;
//   z-index: -1;
// }

.tree-view .directory.closed > ul {
  display: none;
}

// text
.tree-view .file > .list-item .name[data-path$='.txt']              {background-image: url(../../images/icons/txt.svg);}
.tree-view .file > .list-item .name[data-path$='.html']               {background-image: url(../../images/icons/html.svg);}
.tree-view .file > .list-item .name[data-path$='.json']        {background-image: url(../../images/icons/json.svg);}
.tree-view .file > .list-item .name[data-path$='.xml']         {background-image: url(../../images/icons/xml.svg);}
.tree-view .file > .list-item .name[data-path$='.css']                {background-image: url(../../images/icons/css.svg);}

// script
.tree-view .file > .list-item .name[data-path$='.js']         {background-image: url(../../images/icons/js.svg);}

// image
.tree-view .file > .list-item .name[data-path$='.png']     {background-image: url(../../images/icons/png.svg);}
.tree-view .file > .list-item .name[data-path$='.gif']     {background-image: url(../../images/icons/gif.svg);}
.tree-view .file > .list-item .name[data-path$='.bmp']     {background-image: url(../../images/icons/bmp.svg);}
.tree-view .file > .list-item .name[data-path$='.webp']    {background-image: url(../../images/icons/webp.svg);}
.tree-view .file > .list-item .name[data-path$='.jpeg']    {background-image: url(../../images/icons/jpg.svg);}
.tree-view .file > .list-item .name[data-path$='.jpg']    {background-image: url(../../images/icons/jpg.svg);}
.tree-view .file > .list-item .name[data-path$='.svg'] {background-image: url(../../images/icons/svg.svg);}

// video
.tree-view .file > .list-item .name[data-path$='.webm'] {background-image: url(../../images/icons/webm.svg);}
.tree-view .file > .list-item .name[data-path$='.ogg']  {background-image: url(../../images/icons/ogg.svg);}
.tree-view .file > .list-item .name[data-path$='.mp4']  {background-image: url(../../images/icons/mp4.svg);}

// audio
.tree-view .file > .list-item .name[data-path$='.midi'] {background-image: url(../../images/icons/midi.svg);}
.tree-view .file > .list-item .name[data-path$='.mpeg'] {background-image: url(../../images/icons/mpeg.svg);}
.tree-view .file > .list-item .name[data-path$='.webm'] {background-image: url(../../images/icons/webm.svg);}
.tree-view .file > .list-item .name[data-path$='.wav']  {background-image: url(../../images/icons/wav.svg);}

// document
.tree-view .file > .list-item .name[data-path$='.doc']            {background-image: url(../../images/icons/doc.svg);}
.tree-view .file > .list-item .name[data-path$='.docx']            {background-image: url(../../images/icons/docx.svg);}
.tree-view .file > .list-item .name[data-path$='.ppt'] {background-image: url(../../images/icons/ppt.svg);}
.tree-view .file > .list-item .name[data-path$='.pptx'] {background-image: url(../../images/icons/pptx.svg);}
.tree-view .file > .list-item .name[data-path$='.csv']      {background-image: url(../../images/icons/csv.svg);}
.tree-view .file > .list-item .name[data-path$='.xls']      {background-image: url(../../images/icons/xlsx.svg);}
.tree-view .file > .list-item .name[data-path$='.xlsx']      {background-image: url(../../images/icons/xlsx.svg);}
.tree-view .file > .list-item .name[data-path$='.pdf']               {background-image: url(../../images/icons/pdf.svg);}
.tree-view .file > .list-item .name[data-path$='.zip']               {background-image: url(../../images/icons/zip.svg);}

// font
.tree-view .file > .list-item .name[data-path$='.eot']                      {background-image: url(../../images/icons/eot.svg);}
.tree-view .file > .list-item .name[data-path$='.otf']                      {background-image: url(../../images/icons/otf.svg);}
.tree-view .file > .list-item .name[data-path$='.ttf']                      {background-image: url(../../images/icons/ttf.svg);}
.tree-view .file > .list-item .name[data-path$='.woff']                     {background-image: url(../../images/icons/woff.svg);}
.tree-view .file > .list-item .name[data-path$='.woff2']                    {background-image: url(../../images/icons/woff2.svg);}

// other
.tree-view .file > .list-item .name[data-path$='.link']                    {background-image: url(../../images/icons/lnk.svg);}
