<!DOCTYPE html>
<html>
<head>
  <title>Scribo</title>
  <%= stylesheet_link_tag    "scribo/application", media: "all" %>
  <%= javascript_include_tag "scribo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
