= simple_form_for([:admin, @site], url: @site.new_record? ? admin_sites_path : admin_site_path, html: {multipart: true}) do |f|
  = f.input :name
  = f.button :button, 'Save', name: 'commit', value: 'save', class: 'btn-primary', data: { disable_with: 'Save' }
  = f.button :button, 'Continue', name: 'commit', value: 'continue', data: { disable_with: 'Continue' }
