= simple_form_for([:admin, @site], url: import_admin_sites_path, html: {multipart: true}) do |f|
  = f.input :zip_file, as: :file
  = f.button :button, 'Import', name: 'commit', value: 'import', class: 'btn-primary', data: { disable_with: 'Import' }
